<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-back-button slot="start" icon="chevron-back-outline" defaultHref="/"></ion-back-button>
      <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-generico back-welcome">
  <strong>
    <h1 class="boton-centro">
      ¡Bienvenid@ {{usuario}}!
    </h1>
  </strong>
  <div class="boton-centro">
    <ion-button (click)="navegar()" class="boton">Ir al acceso </ion-button>
  </div>
</ion-content>
