<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-back-button slot="start" icon="chevron-back-outline" defaultHref="/"></ion-back-button>
      <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-generico back-welcome">
  <strong>
    <h1 class="boton-centro">
      ¡Bienvenid@ {{usuario}}!
    </h1>
  </strong>
  <br><a style="font-weight: 700; text-decoration: none; color: #3a281c; text-align: center; display: block;" [routerLink]="['/restablecer']">¿Olvidaste tu contraseña?</a>
  <div class="boton-centro">
    <br>
    <ion-button (click)="navegar()" class="boton">Ir al acceso </ion-button>
  </div>
</ion-content>
