<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons>
      <ion-back-button slot="start" icon="chevron-back-outline" defaultHref="/"></ion-back-button>
      <ion-button (click)="cerrarsesion()" slot="start" class="barra">
        <ion-icon name="enter-outline"></ion-icon>
      </ion-button>
        <ion-title>App</ion-title>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-generico back-welcome">
  <strong>
    <h1 class="boton-centro">
      ¡Bienvenid@ {{usuario}}!
    </h1>
  </strong>
  <a style="font-weight: 700; text-decoration: none; color: #3a281c; text-align: center; display: block;" [routerLink]="['/restablecer']">¿Olvidaste tu contraseña?</a>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre: {{ nombre }}</ion-card-title>
      <ion-card-subtitle>Apellido: {{ apellido }}</ion-card-subtitle>
      <ion-card-subtitle>Correo: {{ correo }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
