<ion-header>
  <ion-toolbar class="fondo">
      <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="fondo-generico background">
  <br>
  <strong><h1 style="font-family: Arial, Helvetica, sans-serif; color: #3a281c; font-weight: 700" class="boton-centro">Inicio de Sesión</h1></strong>
  <br>
  <div class="centrado">
    <form [formGroup]="formularioLogin">
      <ion-item class="ion-margin-top input-login">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top input-login">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <br>
      <div class="boton-right">
        <a style="font-weight: 700; text-decoration:none; color:#3a281c" [routerLink]="['/registro']">¿No tienes cuenta?,¡Registrate!</a>
        <br>
        <br>
        <a style="font-weight: 700; text-decoration:none; color:#3a281c" [routerLink]="['/restablecer']">¿Olvidaste tu contraseña?</a>
      </div>
      </form>
    <br>
    <div class="boton-centro">
      <ion-button class="boton" (click)="ingresar()">Ingresar</ion-button>
    </div>
  </div>
</ion-content>
