<ion-header>
  <ion-toolbar class="fondo">
    <ion-buttons>
      <ion-back-button slot="start" icon="chevron-back-outline" defaultHref="/"></ion-back-button>
      <ion-title>App</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondo-generico back-registro">
  <br>
  <strong><h1 style="font-family: Arial, Helvetica, sans-serif; color: #3a281c; font-weight: 700" class="boton-centro">Registro de Cuenta</h1></strong>
  <br>
  <div class="centrado">
    <!--keyup.enter gatilla el evento cuando el usuario presione en enter-->
      <form [formGroup]="formularioRegistro" (ngSubmit)="newUsuario()">
        <ion-item class="ion-margin-top input-login">
          <ion-label position="floating">Usuario</ion-label>
          <!--formControlName: establece una conexión bidireccional entre el campo de entrada y el control del formulario-->
          <ion-input [(ngModel)]="usuario" formControlName="usuario"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top input-login">
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="correo" labelPlacement="floating" formControlName="correo"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top input-login">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="contrasena" labelPlacement="floating" formControlName="contrasena" type="password"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top input-login">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" labelPlacement="floating" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top input-login">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="apellido" labelPlacement="floating" formControlName="apellido"></ion-input>
        </ion-item>
        <br>
        <div class="boton-centro">
          <ion-button class="boton" (click)="newUsuario()">Registrarse</ion-button>
        </div>
      </form>
  </div>  
</ion-content>