<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons>
      <ion-back-button slot="start" icon="chevron-back-outline" defaultHref="/"></ion-back-button>
      <ion-title>Página principal</ion-title>
      <ion-button slot="end" (click)="fav()">
        <ion-icon [color]="color" slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-generico back-main">

</ion-content>
